/*Header*/

header {
  display: flex;
     align-items: center;
     position: fixed;
     z-index: 1;
     width: 100%;
     height: 80px;
     border-bottom: 1px solid black;
     background-color: white;
     font-family: Verdana;
     font-size: 14px;
     font-weight: bold;
}
.logo {
  Border: 1px solid black;
  color: MediumAquamarine;
  Display: block;
  margin-right: 12px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo div {
  height: 60px;
  width: 474.013px;
}
.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
  }
.logo span {
  height: 17.6px;
  width: 73.9125px;
}

                            /*navigation*/

.nav {
  Border: 1px solid black;
  height: auto;
  width:auto;
}
a {
  color: black;
  text-decoration: underline;
}
nav span {
  display: inline;
  padding: 20px 10px;
}

                        /*main content*/

body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  }
div {
  border: 1px solid black;
  display: block;
}
div.story {
  height: 142.225px;
  width: 598.9px;
}
div.text-content {
  height: 119.825px;
  width: 596.9px;
}
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-before: 0.83em;
  margin-after: 0.83em;
  margin-start: 0px;
  margin-end: 0px;
  font-weight: bold;
  height: 27.2px;
  width: 596.9px;
  }
p.narrative {
  height: 36.8px;
  width: 596.9px;
  }
                        /*large column*/
div.column.large {
  height: 573.425px;
}
.column.large {
  width: 630px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
div.main-story{
  height: 218px;
  width: 600.9px;
}
div.image-title {
  height: 18.4px;
  width: 598.9px;
}
.main-story {
  height: 218px;
  width: 600.9px;
  }
.image-title {
  height: 18.4px;
  width: 598.9px;
  }
.narrative {
  height: 165.6px;
  width: 600.9px;
  }
div.fall-canceled.image-title {
  height: 18.4px;
  width: 596.9px;
}
                      /*Medium column*/
.column.medium {
  width: 300px;
}
                      /*small column*/
.column.small {
  width: 240px;
}
