/*Header*/

.header {
 align-items: center;
 Border: 1px solid black;
 Display: flex;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 position: fixed;
}
.logo {
  Border: 1px solid black;
  color: MediumAquamarine;
  Display: block;
}
.logo2 {
  display: inline-block;

}
.navigation {
  Border: 1px solid black;
}
a {
  color: black;
}
